<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>New user</title>
</head>
<body>
<form th:method="POST" th:action="@{/user/addUser}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input th:type="text" th:field="*{name}" id="name">
    <label for="age">Enter age: </label>
    <input th:type="text" th:field="*{age}" id="age">
    <br/>
    <a th:href="@{/user}" class="button">Back</a>
    <br/>
    <input th:type="submit" value="Create"/>
</form>
</body>
</html>